*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #fffbf4;
}

.container{
  max-width: 100%;
  max-height: 100%;
}

.fundo{
  background: contain;
  max-width: 100%;
  max-height: 100%;

  margin: auto;
}

.fundo img{
  max-width: 100%;
}

.box{
  font-family: Arial, Helvetica, sans-serif;
  max-width: 300px;
  width: 500px;
  height: 523px;
  margin: 15px 10px;
  background-color: #E26A2C;
  padding: 20px;
  border-radius: 10px;
}

.box h1{
  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Cuprum', sans-serif;
}

input{
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 0 none;
}

.title{
  font-family: 'Cuprum', sans-serif;
  font-size: 1rem;
  color: white;
}

button{
  margin-top: 10px;
  padding: 10px;
  width: 120px;
  border-radius: 8px;
  border: 0 none;
  color: white;
  font-size: 1rem;
  background-color: #fda55dd3;
}

button:hover{
  background-color: aliceblue;
  color: #E26A2C;
}

#resultado{
  background-color: rgba(15, 15, 15, 0.137);
  color: white;
  margin-top: 15px;
  border-radius: 5px;
  padding: 15px;
  font-family: 'Cuprum', sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

#resultado h3{
  font-size: 1.1rem;
}

.grid{
  display: grid;
  grid-template-columns: 3fr 1fr;
}

footer{
  background-color:#E26A2C;
  text-align: center;
  font-size: .8rem;
  padding: 3px;
}

footer a{
  text-decoration: none;
}

@media (max-width: 700px){
 
}